* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: Montserrat;
}
ul {
  list-style: none;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;

  padding-right: 30px;
}
a {
  text-decoration: none;
}

/* FONT */
.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-<uniquifier > {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* debug */
.debug {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000080;
  border: 2px dashed red;
}

/* HEAD */
.head {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.title-head {
  color: #ff9514ff;
  font-weight: bold;
  font-size: 55px;
  font-family: Nerko one;
  text-shadow: 1px 1px 1px #6f6f6f;
}

/* MAIN */
.none {
  display: none;
}

.main-color {
  background-color: #f5f4f2ff;
}
.title {
  padding-top: 30px;
}
.tag {
  color: gray;
}
.ricetta {
  font-weight: 800;
  font-size: 30px;
  color: #4d3869ff;
  padding-top: 10px;
  padding-bottom: 20px;
}
.card {
  background-color: white;
  padding: 35px;
  margin-top: -5px;
  box-shadow: 5px 5px 15px #dedede;
  border-radius: 3px;
}
.info {
  display: flex;
  flex-direction: column;
}
.title-card {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}
.info-bold {
  font-weight: bold;
  padding-bottom: 20px;
}
.info-light {
  font-weight: 400;
  padding-bottom: 20px;
}

/* SOCIAL */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 0;
}
.icon img {
  height: 30px;
}
.icon {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #dedede;
}
.paragraph {
  /* text-align: center; */
}
.title-para {
  font-size: 35px;
  font-weight: 400;
}
.border {
  height: 20px;
  width: 20%;
  border-bottom: 2px solid #ff9514ff;
  margin-bottom: 30px;
}
.paragraph img {
  max-width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px #dedede;
}
.text {
  font-size: 20px;
  line-height: 40px;
}
